

.landingpic{ 
    background-Image: url('./landingimg.png');
    background-Position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    background-color: #000; /* Set a background color in case the image doesn't cover the entire container */
    height: 100vh; /* Set the height to the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
} 


.landingbtns{ 
    size: medium; 
    backgroundColor: "#ff6f00"


}